{# Callout #}
<section class="container">
    <div class="callout callout--primary callout-signup">
        <div class="grid grid--1x2">
            <div class="callout__content">
                <h2 class="callout__heading">Let's Build Something Great</h2>
                <p>
                    Let's discuss your project and find the right engagement for your needs.
                </p>
            </div>
            <a href="/contact" class="btn btn--secondary btn--stretched">Get in Touch</a>
        </div>
    </div>
</section>