<header>
    <nav class="nav collapsible">
        <a class="nav__brand" href="/"><img src="/assets/images/logo.svg" style="width: 50px" alt=""></a>
        <svg class="icon icon--white nav__toggler">
            <use xlink:href="/assets/images/icons/sprite.svg#menu"></use>
        </svg>

        <ul class="list nav__list collapsible__content">
            <li class="nav__item">
                <a href="/#services">Services</a>
            </li>
            <li class="nav__item">
                <a href="/#process">Process</a>
            </li>
            <li class="nav__item">
                <a href="/#pricing">Pricing</a>
            </li>
            <li class="nav__item">
                <a href="/#about">About</a>
            </li>
            {# <li class="nav__item">
                <a href="/blog/">Blog</a>
            </li> #}
            <li class="nav__item">
                <a href="/contact/">Contact</a>
            </li>
        </ul>
    </nav>
</header>