<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ title | default("My Site") }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <div class="site-brand"><a href="/">{{ title | default("My Site") }}</a></div>
                {% include "includes/nav.njk" %}
            </div>
        </header>

        <main id="content" class="site-main">
            <div class="container">
                {{ content | safe }}
            </div>
        </main>

        <footer class="site-footer">
            <div class="container">
                {% include "includes/footer.njk" %}
            </div>
        </footer>
    </body>
</html>