<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ title | default("My Site") }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div class="container">
                <!-- Brand/Logo -->
                <div class="brand">
                    <a href="/">{{ title | default("My Site") }}</a>
                </div>
                <!-- Primary Navigation -->
                {% include "includes/nav.njk" %}
            </div>
        </header>

        <!-- MAIN CONTENT: Unique to each page -->
        <main>
            <div class="container">
                {{ content | safe }}
            </div>
        </main>

        <!-- FOOTER -->
        {% include "includes/footer.njk" %}
    </body>
</html>