<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ title | default("My Site") }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"/>
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/styles-2.css">
    </head>
    <body>
        <!-- Brand/Logo -->
        {# <a href="/">{{ title | default("My Site") }}</a> #}

        <!-- Primary Navigation -->
        {% include "includes/nav-2.njk" %}

        <!-- MAIN CONTENT: Unique to each page -->
        <main>
            {{ content | safe }}
        </main>

        <!-- FOOTER -->
        {% include "includes/footer-2.njk" %}

        <script src="/assets/js/index.js"></script>
    </body>
</html>