<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="My awesome description will go here...">
        <meta property="og:title" content="Simply Engineered...">
        <meta property="og:description" content="Simply Engineered...">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://">
        <meta property="og:url" content="https://simplyenginee.red">

        <title>{{ title | default("Simply Engineered") }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap">
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/styles-2.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <!-- Brand/Logo -->
        {# <a href="/">{{ title | default("My Site") }}</a> #}

        <!-- Primary Navigation -->
        {% include "includes/nav-2.njk" %}

        <!-- MAIN CONTENT: Unique to each page -->
        <main>
            {{ content | safe }}
        </main>

        <!-- FOOTER -->
        {% include "includes/footer-2.njk" %}

        <script src="/assets/js/index.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>