<nav aria-label="Primary">
    <ul>
        <li {% if pageId == "home" %} class="active" {% endif %}><a href="/home/">Home</a></li>
        <li {% if pageId == "blog" %} class="active" {% endif %}><a href="/blog/">Blog</a></li>
        <li {% if pageId == "about" %} class="active" {% endif %}><a href="/about/">About</a></li>
        <li {% if pageId == "contact" %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
    </ul>
</nav>