<nav class="site-nav" aria-label="Primary">
    <ul class="nav-list">
        <li {% if pageId == 'home' %} class="nav-item active" {% endif %}><a href="/home/">Home</a></li>
        <li {% if pageId == 'blog' %} class="nav-item active" {% endif %}><a href="/blog/">Blog</a></li>
        <li {% if pageId == 'about' %} class="nav-item active" {% endif %}><a href="/about/">About</a></li>
    </ul>
</nav>