<nav class="site-nav" aria-label="Primary">
    <ul class="nav-list">
        <li class="nav-item"><a href="/home/">Home</a></li>
        <li class="nav-item"><a href="/blog/">Blog</a></li>
        <li class="nav-item"><a href="/about/">About</a></li>
    </ul>
</nav>