/* ===== FOOTER ===== */

.footer {
    background: var(--color-dark);
}

.footer a {
    color: var(--color-dark-text);
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--color-white);
}

.footer__section {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.01em;
}

.footer__brand {
    margin-top: 3rem;
    text-align: center;
}

.footer__brand img {
    /* TODO: Consider refactoring this and applying it to all images. */
    width: auto;
    max-width: 100px;
    height: auto;
}

.footer__copyright {
    font-size: 1.4rem;
    color: var(--color-white);
    opacity: 0.35;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 1.5rem;
    }
    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
        margin-top: 0;
    }

    .footer__copyright {
        font-size: 1.4rem;
    }

    .footer__section {
        border: 0;
    }

    .footer__heading {
        font-size: 1.5rem;
    }
}
