---
layout: layouts/base-2.njk
title: Enginee.red
pageId: home-2
---

<a href="#" class="link-arrow">Learn more</a>

<br>

<span class="badge badge--secondary badge--small">10% off</span>

<br>

<ul class="list">
    <li class="list__item">Item 1</li>
    <li class="list__item">Item 2</li>
    <li class="list__item">Item 3</li>
</ul>

<ul class="list list--inline">
    <li class="list__item">Item 1</li>
    <li class="list__item">Item 2</li>
    <li class="list__item">Item 3</li>
</ul>

<ul class="list list--tick">
    <li class="list__item">Item 1</li>
    <li class="list__item">Item 2</li>
    <li class="list__item">Item 3</li>
</ul>

<svg class="icon icon--primary">
    <use xlink:href="/assets/images/icons/sprite.svg#wordpress"></use>
</svg>

<br>

<span class="icon-container">
    <svg class="icon">
        <use xlink:href="/assets/images/icons/sprite.svg#wordpress"></use>
    </svg>
</span>

<br>

<button class="btn btn--primary">Buy now</button>

<a href="#" class="btn btn--accent">Buy now</a>

<br><br>

<button class="btn btn--accent btn--block">Click me</button>
<a href="#" class="btn btn--secondary btn--block">Click me</a>

<br>

<button class="btn btn--outline">Click me</button>
<a href="#" class="btn btn--outline">Click me</a>

<br>

<div class="input-group">
    <span class="icon-container">
        <svg class="icon">
            <use xlink:href="/assets/images/icons/sprite.svg#wordpress"></use>
        </svg>
    </span>
    <input class="input" type="text" placeholder="Your query here...">
    <button class="btn btn--accent">Search</button>
</div>

<br>

<div style="width: 50%; padding: 4rem;">
    <div class="plan plan--popular">
        <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__name">Entry</h3>
                <span class="plan__price">$14</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--secondary badge--small">10% off</span>
                <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                </ul>
                <button class="btn btn--outline btn--block">Buy now</button>
            </div>
        </div>
    </div>

</div>

