---
layout: layouts/base-2.njk
title: Simply Enginee.red
pageId: home-2
---
{# Navigation #}

{# Hero section #}
{% include "includes/simply/hero.njk" %}

{# Domain block #}
{% include "includes/simply/domain.njk" %}

{# Plan block #}
{% include "includes/simply/plan.njk" %}

{# Features #}
{% include "includes/simply/features.njk" %}

{# Showcase #}
{% include "includes/simply/showcase.njk" %}

{# Testimonials #}
{% include "includes/simply/testimonials.njk" %}

{# Callout #}
{% include "includes/simply/callout.njk" %}

{# Footer #}

