---
layout: layouts/base.njk
title: Simply Engineered
pageId: home
---
{# Navigation #}

{# Hero section #}
{% include "components/hero.njk" %}

{# Domain block #}
{% include "components/domain.njk" %}

{# Plan block #}
{% include "components/plan.njk" %}

{# Features #}
{% include "components/features.njk" %}

{# Showcase #}
{% include "components/showcase.njk" %}

{# Testimonials #}
{% include "components/testimonials.njk" %}

{# Callout #}
{% include "components/callout.njk" %}

{# Footer #}